<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jm.xpproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        tools:replace="android:allowBackup"
        android:name="com.jm.xpproject.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- 兼容7.0的File问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信 -->
        <activity
            android:name="com.jm.xpproject.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.jm.xpproject.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 截取头像 -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <!-- 该App页面 -->
        <activity
            android:name="com.jm.xpproject.ui.main.act.MainAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name="com.jm.xpproject.ui.login.act.SplashAct"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jm.xpproject.ui.login.act.AdvertisingAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name="com.jm.xpproject.ui.login.act.LoginAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.jm.xpproject.ui.login.act.GuidePagesAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name="com.jm.xpproject.ui.login.act.RegisterAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.jm.xpproject.ui.login.act.FindPswAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.jm.xpproject.ui.common.act.ProtocolAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.ui.setting.act.SettingAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.ui.setting.act.AlterPswAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.jm.xpproject.ui.setting.act.SubmitSuggestAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.jm.xpproject.ui.setting.act.AboutUsAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.ui.main.act.Main2Act"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.ui.setting.act.BindMobileAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.ui.setting.act.BindMobileSuccessAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.TestAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->


<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.jm.xpproject.ui.common.act.ClipImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jm.xpproject.ui.common.act.SelectServiceAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>